HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
# 스프링 실행 시의 배너
src/main/resources/banner.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 공개 키, 개인 키 ###
/src/main/resources/private_key.pem
/src/main/resources/public_key.pem

### 개발용 프로퍼티 파일 ###
/src/main/resources/application-dev.properties

### 개인용 클로드 코드 가이드라인 ###
**/CLAUDE-local.md